@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: clip;
}

body {
  background: #f8fbff;
  color: #111827;
}

.container-custom {
  width: 90%;
  max-width: 1300px;
  margin: auto;
}

.glass-card {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 24px;
}

.section-space {
  padding: 80px 0;
}

.logo {
  width: 81px;
  height: 50px;
  object-fit: contain;
}